In [1]:
#initiate dependencies
import pandas as pd
from pathlib import Path

In [9]:
schools_path = Path('Resources/schools_complete.csv')
schools_df = pd.read_csv(schools_path)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [10]:
students_path = Path('Resources/students_complete.csv')
students_df = pd.read_csv(students_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [24]:
#merge school and student data into one dataframe
complete_df = pd.merge(schools_df, students_df, on='school_name', how='left')
complete_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [49]:
#Total number of unique schools
school_count = complete_df['school_name'].unique()  #schools_df['school_name'].count()
school_count

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [29]:
#Total students
student_count = complete_df['student_name'].count()
student_count

39170

In [22]:
#Total budget
total_budget = schools_df['budget'].sum()
total_budget

24649428

In [30]:
#Average math score
avg_math = complete_df['math_score'].mean()
avg_math

78.98537145774827

In [31]:
#Average reading score
avg_reading = complete_df['reading_score'].mean()
avg_reading

81.87784018381414

In [42]:
passing_math = complete_df[complete_df['math_score'] > 70].count()['student_name']
#passing_math
pct_passing_math = passing_math / student_count * 100
pct_passing_math

72.39213683941792

In [39]:
passing_math.dtypes

AttributeError: 'numpy.int64' object has no attribute 'dtypes'